.MovieTrending{
    width: 100%;
    border: 2px solid red;

 height: auto;
}
.rate{
    display: flex;
    align-items: center;
}
.caroselContainer{border: 3px solid darkgoldenrod;
}
Link{border: 3px solid rgb(11, 184, 132);}

.rateRelease{display: flex;}
.posterImage{
    border: 3px solid darkcyan;
    background-color: black;
}
.caroselBox{
    border: 1px solid white;
    height: 400px;
    background-color: black;
    z-index: 5;
}