$primary-color:rgb(45, 68, 82);
$primary-colorTow:rgb(22, 35, 43);
$secondary-color:#FFD464;
$font-primary:#ffffff;
$font-secondary:#E16B5A;
$font-header:25px bold;
$font-primarySize:22px;
$font-SecodarySize:16px;
$size: 80px;
$width: 300px;
$stroke: 2px;
$speed: 0.4s;