$primary-color:#2D4452;
$primary-colorTow:#16232b;
$secondary-color:#FFD464;
$font-primary:#ffffff;
$font-secondary:#E16B5A;
$font-header:25px bold;
$font-primarySize:22px;
$font-SecodarySize:16px;
$size: 80px;
$width: 300px;
$stroke: 2px;
$speed: 0.4s;