@import'../globle/colors.scss';
.tabBar {
  z-index: 100;
  width: 89%;
  // border: 2px solid red;
 
  margin: 0 auto;
  display: flex;
  justify-content: end;
  padding: 0;
  .tabBarContainer {
    display: flex;
    width: 35%;
    // border: 2px solid red;
    justify-content: end;
    z-index: 50;
    .menueButton {
      font-family: "Poppins", sans-serif;
      line-height: 1.5;
      text-decoration: none;
      border-radius: 0;
      background-color:$primary-colorTow;
      border: none;
      width: 35%;
      box-shadow: inset 0 0 0 0 #ffffff;
      color:white;
      padding: 8px 0.25rem;
      margin: 0 -0.25rem;
      transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    .menueButton:hover {
      box-shadow: inset 220px 0 0 0 $secondary-color;
      color: $primary-colorTow;
    }
    .menueButton:focus{
        background-color:$secondary-color;
        color: $primary-colorTow ;
    }
  }
}
.switchTab:nth-last-child(even) {
  background-color: lightyellow;
}
.topRateContainer,
.popularContainer,
.upcommingContainer {
  width: 90%;
  margin: 2% auto;
  // border: 2px solid yellow;
}
.rate .icons{
  border: 2px solid orange;
  margin-bottom: 1px;
}

.cardBottomSwitch{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background:$primary-colorTow;
  padding: 6% 5% 5% 5%;
  height: 100px;
}
// .rateReleaseSwitch{
//   width: 100%;
//   display: flex;
// }
// .rateSwitch{
//   border: 1px solid rgb(0, 247, 255);
//   display: flex;
//   padding-right: 3%;
// }
.cardInfoSwitch{
  color: white;
 width: 90%;
//  border: 1px solid green;
  .rateReleaseSwitch{
      width: 100%;
      display: flex;  
   justify-content: space-evenly;
  margin-bottom: 5%;
  // border: 1px solid lightpink;
  .rateSwitch{
      display: flex;
      justify-content: flex-start;

      width:50%;
      align-items: center;
      .iconOne{
        margin-right: 10%;
        color:$secondary-color ;
        font-size: 18px;
      }
     }
  }
  .releaseSwitch{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // border: 1px solid lightgreen;
    width:50%;
    align-items: center;
    .iconTow{
      margin-right: 10%;
      color:$secondary-color ;
      font-size: 18px;
    }
  }

  
}


.cardBottomSwitch{
    // border: 2px solid rgb(255, 247, 0);
    width: 95%;
    padding: 3%;
}