@import "../../../components/globle/colors.scss";
.movie {
  width: 100%;
  height: auto;
  // display: flex;
  // flex-direction:column;
  // align-items: center;
  // border: 3px solid orange;
  padding-top: 7%;
}


.movieDetail {
  align-items: center;
  width: 80%;
  display: flex;
//   height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4% 0% 4% 0%;
  background-color: rgba(22, 35, 43, 0.626);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(5px);
}


.moviePoster {
  width: 350px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.86) 0px 10px 10px 3px;
//   border: 2px solid yellowgreen;
}
.BoxDetailLeft {
    margin-right: 30px;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50px;
    aspect-ratio: 1 / 1;
  }
  
.movieDetailRight {
  color: white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  flex: 1 1 500px;
//   background-color: rgba(22, 35, 43, 0.626);
//   backdrop-filter: blur(4px);
//   -webkit-backdrop-filter: blur(5px);
border-left: 6px solid $primary-colorTow;
}

.movieDetailRightTop > div {
  text-shadow: 0px 0px 5px #000000;
  margin-bottom: 0.5rem;
}

.movieName {
  font-weight: 600;
  font-size: 3rem;
}

.movieVoteCount {
  margin-left: 1rem;
}
.movieShortMessage p{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 1%;
}
.movie__genres {
  margin: 1.25rem 0;
}
.shortDetails {
  list-style: none;
  display: flex;
//   border: 2px solid greenyellow;
}

.movieRating, .movieVoteCount, .movieRuntime, .movieReleaseDate {
  padding: 5px 15px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
//   background: $primary-color;
  height: 20px;
  border-right: 2px solid white;

  border-width: 1px;


}
.movieRating span {
  margin-right: 7px;
  height: 20px;
  font-size: 23px;
  color: $secondary-color;
//   border: 1px solid red;
  display: flex;
  align-items: center;
}
.movieVoteCount span {
    margin-right: 7px;
    height: 20px;
    font-size: 23px;
    color: $secondary-color;
    // border: 1px solid red;
    display: flex;
    align-items: center;
  }
.movieRuntime span {
    margin-right: 7px;
    height: 20px;
    font-size: 23px;
    color: $secondary-color;
    // border: 1px solid red;
    display: flex;
    align-items: center;
  }
.movieReleaseDate span {
    margin-right: 7px;
    height: 20px;
    font-size: 23px;
    color: $secondary-color;
    // border: 1px solid red;
    display: flex;
    align-items: center;
  }
.movieGenres {
width: 100%;
 margin: 1.5% 0% 0% 0%;
//  border: 1px solid gray;
 height: 40px;
 display: flex;
 align-items: center;
gap: 10px;
//  justify-content: center;
}

.movieReleaseDate{
    border: none;
}
.movieGenre{
    padding: 5px 8px 5px 8px;
    width: 13%;
    // border: 2px solid white;
    border-radius: 15px;
text-align: center;
background: $primary-color;
}

.synopsisText {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  display: flex;
  position: relative;
  align-items: center;
}
.synopsisText > div:last-of-type {
  margin-left: auto;
}

.movie__links {
  position: relative;
  bottom: 120px;
  display: flex;
  justify-content: space-between;
  width: 75%;
  // border: 3px solid green;
}

.movie__Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  color: black;
  font-weight: bold;
}

.movie__homeButton {
  background-color: rgb(255, 0, 0);
}

.movie__imdbButton {
  background-color: #f3ce13;
}

.newTab {
  margin-left: 1.4rem;
}

.movieProductionCompanies {
  margin: 0;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  // margin-bottom: 4rem;
  // border: 3px solid rgb(5, 5, 245);
}
.movieProductionCompanies h2{
    color: white;
}
.synopsisTitle{
    margin-bottom: 1%;
}

.production {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 2rem;
  gap: 7px;
  // border: 2px solid red;
}

.CompanyLogoContainer {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 2px solid red;
  height: 100px;
  background: $primary-color;
  margin-bottom: 4%;
}
.ComapanyLogos {
  width: 80%;
}

@media (max-width: 600px){
.movieName{
  font-size: 20px;
  margin: 5% auto;
}
.movieShortMessage p{
  font-size: 15px;
  margin-bottom: 3%;
}
.shortDetails li{
  font-size: 12px;
  margin-bottom: 3%;
}
.movieGenres{
  width: 100%;
  // border: 1px solid red;
  span{
    width: 20%;
    font-size: 13px;
  }
}
.movieDetails{
  margin-bottom: 4%;
  h3{font-size:20px ;}
  p{
    font-size: 13px;
   line-height: 19px;
  }
}
.movieProductionCompanies h2{
  font-size: 20px;
}
.moviePosterBox{
  margin: 10% auto;
 margin-left: 13%;
  // border: 1px solid rebeccapurple;
}
.movieDetail{
  width: 90%;
  padding: 1%;

}
}
@media (max-width: 448px){
  .moviePosterBox{
    width: 250px;
    align-items: center;
    margin: 28% auto;
    margin-bottom: 4%;
   margin-left: 18%;
    // border: 1px solid rgb(108, 15, 131);
  }
  .moviePoster{
    width: 240px;
    margin: 15% auto;
  }
  .movieDetailRight{
    border: none;
    padding: 10px;
  }
  .MovieShortInfo{
border: 1px solid rebeccapurple;
    width: 100%;
    .shortDetails{
      width: 100%;

      padding: 0;
      li{
        padding: 0px;
        padding-right: 2%;
      }
      li span{
        font-size: 11px;
  
        margin: 0;
      }
    }
  }
  .movieGenres span{
    padding: 5px 10px 5px 10px;
    width: 80px;
  }
}