@import "../globle/colors.scss";
$background-color: #2A2E37;
$search-bg-color: #242628;
$icon-color: #00FEDE;
$transition: all .5s ease;
header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: rgba(22, 35, 43, 0.821);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(4px);
  // box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  .headerLists {
    font-size:16px;
    text-transform: capitalize;
    height: 75px;
    width: 90%;
    top: 0;
    right: 0;
    padding: 4px 5px 4px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  margin: auto;
    .logo {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


.headerBox{width: 90%;}

.nav-items {
  color: white;
  display: flex;
  font-size:$font-SecodarySize;
  width: 60%;
  justify-content: space-evenly;
  list-style: none;
}
header li  {
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
header li:hover {
  color: #fff;
  text-shadow: 0 0 10px #04bede, 0 0 20px #42d3ec, 0 0 25px #63d6eb,
    0 0 30px #8addeb, 0 0 35px #ffffff;
}

.nav-toggle {
  display: none;
  width: 80%;
  border: 2px solid red;
}

@media (max-width: 700px) {
  header > .nav-items {
    position: absolute;
    top: 67px;
    display: flex;
    flex-direction: column;
    /* background: #04bdded5; */
    background: rgba(255, 255, 255, 0.896);
    margin: auto;
    width: 70%;
    height: 150px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateX(-150%);
    transition: all 0.45s;
  }
  .nav-items li a {
    color: #023047;
  }
  li {
    margin: 0 auto;
  }
  header > .nav-items > a::before {
    background: transparent;
  }
  header > .nav-items.open {
    transform: translateX(0);
  }
  header > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav-toggle > .bar1,
  .bar2 {
    position: relative;
    width: 32px;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar1::before,
  .nav-toggle > .bar1::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar1::before {
    width: 32px;
    transform: translateY(-8px);
    right: 0;
  }

  .nav-toggle > .bar1::after {
    width: 32px;
    transform: translateY(8px);
  }
  .nav-toggle.open > .bar1 {
    transform: translateX(-40px);
    background: transparent;
  }

  .nav-toggle.open > .bar1::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open > .bar1::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}

//new input search
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height:57px;
  border-style: none;
  font-size: 17px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  // border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  // border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


@media (max-width: 575px){
.headerLists{

  width: 390px;
  justify-content:space-evenly;
  margin: 0;
}
.header{
  padding: 0;

 

}
.nav-items{
  padding: 0;
  font-size: 13px;
  width: 80%;

}
.logo{
  width: 18%;
}
.btn-search:focus ~ .input-search{
  width:100%;
}
.input-search:focus{
  width: 100%;
}
.input-search::placeholder{
 
  font-size: 12px;

}
}
