// .searchContainer{
//     width: 100%;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     border: 3px solid darkblue;
  
    @import "../../components/globle/colors.scss";
    .rate {
      display: flex;
      align-items: center;
      background: none;
    }
    
    .searchMainContainer {
    //   border: 2px solid olivedrab;
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top:7%;
      margin-bottom: 5%;
      // justify-content: space-between;
    }

    .searchCaroselBox {
      width: 230px;
margin-top: 2%;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.05);
        transition: all 0.3s;
      }
    }
    .searchCardInner {
      cursor: pointer;

      img {
        width: 95%;
        height: 300px;
      }
     
    }
    .cardBottomSearch{
        width:95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background:$primary-colorTow;
        padding: 0% 5% 5% 5%;
        height: 100px;
        margin-bottom: 1% ;

        .cardInfoSearch{
            color: white;
            width: 100%;
            .rateReleaseSearch{
              width: 100%;
              display: flex;  
           justify-content: space-between;
          margin-bottom: 5%;
           .rateSearch{
            display: flex;
            justify-content: space-between;
            // border: 1px solid green;
            width:25%;
            p{
              margin-left: 1%;
            }
           }
            }
            
        }
    }
    