@import "../globle/colors.scss";
.poster {
  width: 100%;
  height: 600px;
  background-color: var(--black);
  display: flex;
  // align-items: center;
  position: relative;
  justify-content: center;
  margin: 0;
}

.posterImage {
  height: 600px;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}

.posterImage__overlay {
  position: absolute;
  padding: 25vh 5vw 0vh 5vw;
  bottom: 0px;
  height: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(44, 68, 83));
  opacity: 1;
  transition: opacity 0.5s;
}

.posterImage__overlay:hover {
  opacity: 1;
}

.posterImage__title {
  font-weight: 900;
  font-size: calc(35px + 0.390625vw);
  margin-bottom: 0.4rem;
  text-align: left;
}

.posterImage__runtime {
  font-size: calc(28px + 0.320625vw);
  margin-bottom: calc(1rem + 2vh);
  text-align: left;
  margin-bottom: 1rem;
}

.posterImage__rating {
  margin-left: 3rem;
  font-size: calc(28px + 0.320625vw);
}

.posterImage__description {
  font-style: italic;
  // font-size: 1rem;
  font-size: calc(20px + 0.150625vw);
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 60%;
}

.subSentence {
  font-size: 25px;
  color: white;
}

@media (min-width: 200px) {
  .posterImage__description {
    width: 100%;
  }
  .poster {
    height: 55vh;
  }
  .posterImage {
    height: 55vh;
  }
  .posterImage__overlay {
    position: absolute;
    padding: 11vh 5vw 0vh 5vw;
    top: 0;
    height: 55vh;
  }
  .posterImage__title {
    font-size: 18px;
  }
  .posterImage__runtime,
  .posterImage__rating {
    font-size: 15px;
    margin: 0;
  }
  .posterImage__description {
    font-size: 13px;
  }
}

@media (min-width: 600px) {
  .posterImage__description {
    width: 95%;
  }
  .poster {
    height: 60vh;
  }
  .posterImage {
    height: 60vh;
  }
  .posterImage__overlay {
    position: absolute;
    padding: 15vh 5vw 0vh 5vw;
    top: 0;
    height: 60vh;
  }
  .posterImage__title {
    font-size: 22px;
  }
  .posterImage__runtime,
  .posterImage__rating {
    font-size: 18px;
  }
  .posterImage__description {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .posterImage__description {
    width: 95%;
  }
  .poster {
    height: 50vh;
  }
  .posterImage {
    height: 50vh;
  }
  .posterImage__overlay {
    position: absolute;
    padding: 15vh 5vw 0vh 5vw;
    top: 0;
    height: 50vh;
  }
  .posterImage__title {
    font-size: 22px;
  }
  .posterImage__runtime,
  .posterImage__rating {
    font-size: 18px;
  }
  .posterImage__description {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .posterImage__description {
    width: 70%;
  }
  .poster {
    width: 100%;
    height: 60vh;
  }
  .posterImage__overlay {
    position: absolute;
    padding: 24vh 5vw 0vh 5vw;
    height: 60vh;
  }
  .posterImage {
    height: 60vh;
  }
  .posterImage__title {
    font-size: 25px;
  }
  .posterImage__runtime,
  .posterImage__rating {
    font-size: 20px;
  }
  .posterImage__description {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .posterImage__description {
    width: 60%;
  }
  .posterImage {
    height: 70vh;
  }
  .posterImage__overlay {
    position: absolute;
    padding: 28vh 5vw 0vh 5vw;
    height: 70vh;
  }
  .poster {
    height: 70vh;
  }
}

@media (min-width: 1280px) {
  .posterImage__description {
    width: 50%;
  }
  .posterImage {
    height: 80vh;
  }
  .posterImage__overlay {
    position: absolute;
    padding: 28vh 5vw 0vh 5vw;
    top: 0;
    height: 80vh;
  }
  .poster {
    height: 80vh;
  }
}
