@import "../globle/colors.scss";
.poster {
  width: 100%;
  height: 600px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: 0;
 
}
.posterImage {
  height: 100%;

}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}

.posterImage__overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 90%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(44, 68, 83));
  opacity: 1;
  transition: opacity 0.5s;
}

.posterImage__overlay:hover {
  opacity: 1;
}

.posterImage__title {
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

.posterImage__runtime {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.posterImage__rating {
  margin-left: 3rem;
}

.posterImage__description {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 50%;
}

// .searchInput {
//     position: absolute;
//     // right: -50%;
//     left: 250px;
//     top: 250px;
//     display: flex;
//     align-items: center;
//     width: 40%;
//     z-index: 2;
//     border: 2px solid red;
//     input {
//         width: calc(90% - 90px);
//         height: 70px;
//         background: rgba(255, 249, 249, 0.555);
//         backdrop-filter: blur(3.5px);
//         -webkit-backdrop-filter: blur(4px);
//         outline: 0;
//         border: 0;
//         border-radius: 30px 0 0 30px;
//         padding: 0 15px;
//         font-size: 14px;
//     }}
//     button {
//         width: 140px;
//         height: 70px;
//         background: $font-secondary;
//         color: white;
//         outline: 0;
//         border: 0;
//         border-radius: 0 30px 30px 0;
//         font-size: 16px;
//         cursor: pointer;
//     }
.wellcome{
  display: flex;
  align-items: center;
 flex-direction: column;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  .wellcomPop{
    font-size:40px ;
    font-weight: 700 bolder;
    color: white;
    // border: 3px solid red;
  }

  .subSentence{
    font-size:25px;
    color: white;
  }
}


.inputbox {
  height: $size;
  width: 40%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  

  input {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    font-size: 16px;
    padding: ($size - 16 - 1)/2 0;
    border: 0;
    background: rgba(255, 249, 249, 0.697);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(4px);
    width: $size;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;

    transition: width $speed ease-in-out, border-radius $speed ease-in-out,
      padding $speed/2;
    transition-delay: 0s, $speed, 0s;
    box-shadow: 0 0 0 $stroke $primary-colorTow;
    color: inherit;
    cursor: pointer;
    padding: ($size - 16 - 1)/2 0;
    padding-right: $size;
    font-weight: bold;
    font-size: $font-SecodarySize;
    // font-family: "Montserrat";

    &:focus,
    &:valid {
      width: 100%;
      transition-delay: $speed, 0s, $speed;
      outline: 0;
      border-radius: 40px;
      cursor: text;
      padding-left: ($size - 16 - 1)/2;


      + .del {
        pointer-events: all;
        left: calc(100% - #{$size/2});
        transition-delay: $speed;
        background:$primary-color;
        width: 60px;
        height: 60px;
        color: #fff;
     
        &:focus {
          box-shadow: 0 0 0 1px $primary-colorTow;
          height: $size/6 * 3;
          width: $size/6 * 3;
        }
        &:before {
          transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
          transition-delay: 0s;
    
        }
        &:after {
          transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
          transition-delay: $speed/2;
        }
      }
    }
  }

  .del {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: $size + 2;
    width: $size + 1;
    padding: 0;
    background: none;
    border-radius: 100%;
    border: 0;
  
    pointer-events: none;
    transition: left $speed ease-in-out;
    transition-delay: 0s;
    color: inherit;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:before {
      content: "";
      position: absolute;
      // border: 2px solid white;
      top: 50%;
      left: 50%;
      background: currentColor;
      width: $stroke;
      height: $size/4 * 3;
      transform: translate($size/8 * 5 + 1, $size/8 * 5 + 1)
        translate(-50%, -50%) rotate(-45deg) scaleY(1);
      transition: transform $speed/2 ease-in-out;
      transition-delay: $speed * 1.5;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      background: currentColor;
      width: $stroke;
      height: $size/4 * 3;
      transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
      transition: transform $speed/2 ease-in-out;
      transition-delay: $speed;
    }
  }
}
